/*--  Background --*/
body {
    background: linear-gradient(to right, #ffffff, #ffffff);
}

/*--  Calculator Body --*/
body .calc {
    width: 35%;
    min-width: 350px;
    margin-top: 50px;
    box-shadow: 2px 2px 10px black, 2px 2px 10px darkgray;
    border-width: 4px;
    border-color: rgba(189, 189, 189, 0.768);
    border-radius: 10px;
    background: linear-gradient(to right, #e1e1e1, #bbbbbb);
}

/*--  Calculator Button --*/
.calcBtn {
    border-width: 2px;
    border-radius: 15px;
    border-color: #313cff;
    background: linear-gradient(to right, #4f42ff, #101cff);
    padding: 5px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px black, 2px 2px 10px darkgray, 1px 1px 7px rgb(0, 0, 0);
    box-shadow: 2px 2px 5px black, 2px 2px 5px darkgray, 1px 1px 7px rgb(0, 0, 0);
    transition: all 0.5s ease;
}

.calcBtn:hover {
    background: linear-gradient(to right, #6156fc, #2c36ff);
    transform: scale(1.01);
    border-color: #313bffb3;
}